@model GithubUsersSearcher.Models.GithubUser

@{
    ViewBag.Title = "Results Page";
}

<h2>GitHub User</h2>

<div class="d-flex justify-content-center align-items-center">
    <div>
        <img src="@Model.AvatarUrl" alt="User Avatar" style="width: 100px; height: 100px;" />
    </div>
    <div class="d-flex flex-column">
        <h3>🧑 <a href="@Model.HtmlUrl">@Model.Username</a></h3>
        <h3>📍 @(Model.Location ?? "No location.") </h3>
    </div>
</div>

<h3>Top 5 Repositories</h3>

@if (Model.GithubRepositories != null && Model.GithubRepositories.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Stargazers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repo in Model.GithubRepositories)
            {
                <tr>
                    <td>
                        <a href="@repo.HtmlUrl" target="_blank">@repo.Name</a>
                    </td>
                    <td>@(repo.Description ?? "No description.")</td>
                    <td>@repo.StargazersCount</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No repos found for this user.</p>
}